################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CShaprOOPS/bin/Debug
/CShaprOOPS/obj/Debug
/LogicalPrograms/obj
/DesignPatterns/obj
/DesignPatterns/bin/Debug/netcoreapp3.1
/DataStructures/obj
/DataStructures/bin/Debug/netcoreapp3.1
/Algorithms/obj
/Algorithms/bin/Debug/netcoreapp3.1
/LogicalPrograms/bin/Debug/netcoreapp3.1
/6.Miscellaneous/obj
/6.Miscellaneous/bin/Debug/netcoreapp3.1
/.vs/CSharpTutorials/DesignTimeBuild/.dtbcache.v2
/2.CsharpDesignPattern/bin/Debug
/2.CsharpDesignPattern/obj/Debug
/3.CSharpLogicalPrograms/bin/Debug
/3.CSharpLogicalPrograms/obj/Debug
/4.CSharpAlgorithms/bin/Debug
/4.CSharpAlgorithms/obj/Debug
/5.CSharpDataStructures/bin/Debug
/5.CSharpDataStructures/obj/Debug
/5.Miscellaneous/bin/Debug
/5.Miscellaneous/obj/Debug
*.suo
/.vs/config/applicationhost.config
/.vs/CSharpTutorials/config/applicationhost.config
/.vs/CSharpTutorials/v16
/packages/EntityFramework.6.2.0/lib
/packages/Antlr.3.5.0.2/lib
/packages/Antlr.3.5.0.2
/packages/bootstrap.3.4.1/bootstrap.3.4.1.nupkg
/packages/bootstrap.3.4.1/.signature.p7s
/packages/bootstrap.3.4.1/LICENSE.txt
/packages/EntityFramework.6.2.0
/RepositoryPatternWeb/bin
/packages/WebGrease.1.6.0
/packages/Newtonsoft.Json.12.0.2
/packages
/RepositoryPatternWeb/obj/Debug
/CSharpAdvanced/bin/Debug
/CSharpAdvanced/obj
/Miscelleneaous/bin/Debug
/Miscelleneaous/obj/Debug
/1.CShaprOOPS/obj
/1.CShaprOOPS/bin/Debug
/6.CSharpAdvanced/bin/Debug/netcoreapp3.1
/6.CSharpAdvanced/obj
/7.Miscelleneaous/bin/Debug
/7.Miscelleneaous/obj/Debug
/8.RepositoryPatternWeb/bin
/8.RepositoryPatternWeb/obj
/7.Miscelleneaous/obj/Release
/$tf
