################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CShaprOOPS/bin/Debug
/CShaprOOPS/obj/Debug
